n8n/simple-registration-workflow.json
{
  "name": "Simple Registration - Apallaktis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "register",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c90c3538-0311-4b3a-b3bb-2c2409abfe09",
      "name": "Webhook - Registration Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-672, 16],
      "webhookId": "apallaktis-register"
    },
    {
      "parameters": {
        "jsCode": "const data = $json.body ?? $json;\n\n// Validate required fields\nif (!data.name || !data.email || !data.phone || !data.password) {\n  return {\n    json: {\n      success: false,\n      error: 'Missing required fields'\n    }\n  };\n}\n\n// Validate email\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(data.email)) {\n  return {\n    json: {\n      success: false,\n      error: 'Invalid email address'\n    }\n  };\n}\n\n// Validate password\nif (data.password.length < 6) {\n  return {\n    json: {\n      success: false,\n      error: 'Password must be at least 6 characters'\n    }\n  };\n}\n\n// ВРЕМЕННО: Сохраняем пароль как есть (для теста)\n// TODO: Добавить хеширование через отдельный node\nconst passwordHash = data.password;\n\n// Prepare user data\nreturn {\n  json: {\n    success: true,\n    data: {\n      name: data.name,\n      email: data.email.toLowerCase(),\n      passwordHash: passwordHash,\n      phone: data.phone,\n      countryCode: data.countryCode || '+30',\n      isBusiness: data.invoiceType === 'invoice',\n      companyName: data.companyName || null,\n      afm: data.afm || null\n    }\n  }\n};"
      },
      "id": "2eacdfba-76a9-479d-9803-b25c370a3587",
      "name": "Validate & Hash Password",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-464, 16]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.success}}",
              "value2": true
            }
          ]
        }
      },
      "id": "970cc7fb-1e48-4a34-8cb2-ca1d13c6a4a4",
      "name": "Check Validation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-288, 16]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "a308114b-4b4c-4541-acc0-dc38b97c515d",
      "name": "Error: Validation Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-32, 160]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"Email already registered\" } }}",
        "options": {
          "responseCode": 409
        }
      },
      "id": "00026406-26f1-49a9-b85b-d1c67a539ed8",
      "name": "Error: Email Already Registered",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [432, -192]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO users (name, email, password_hash, phone, country_code, is_business, company_name, afm) VALUES ('{{ $node[\"Validate & Hash Password\"].json.data.name }}', '{{ $node[\"Validate & Hash Password\"].json.data.email }}', '{{ $node[\"Validate & Hash Password\"].json.data.passwordHash }}', '{{ $node[\"Validate & Hash Password\"].json.data.phone }}', '{{ $node[\"Validate & Hash Password\"].json.data.countryCode }}', {{ $node[\"Validate & Hash Password\"].json.data.isBusiness }}, '{{ $node[\"Validate & Hash Password\"].json.data.companyName }}', '{{ $node[\"Validate & Hash Password\"].json.data.afm }}') RETURNING id, email, demo_expires_at, referral_code",
        "options": {}
      },
      "id": "c64278a2-bfcc-4c9e-9414-3b7a9d08ed6e",
      "name": "Create User in PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [384, 112],
      "credentials": {
        "postgres": {
          "id": "jn86N5SyhGqCiTb7",
          "name": "Apallaktis PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Registration successful\", \"userId\": $json[0].id, \"demoExpiresAt\": $json[0].demo_expires_at } }}",
        "options": {
          "responseCode": 201
        }
      },
      "id": "8c60effa-99cd-4e6d-a31a-123a9cb94f3f",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [576, 112]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) AS count FROM users WHERE email = $1",
        "options": {
          "queryParameters": ["={{ $node[\"Validate & Hash Password\"].json.data.email }}"]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-112, -144],
      "id": "8866519c-f455-48fd-8695-8219d9477806",
      "name": "Check User Exists",
      "credentials": {
        "postgres": {
          "id": "jn86N5SyhGqCiTb7",
          "name": "Apallaktis PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ Number($json[0].count) }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "2836dfb5-61a5-4303-afc7-b984ae02f752",
      "name": "User Already Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [80, -144]
    }
  ],
  "connections": {
    "Webhook - Registration Form": {
      "main": [[{"node": "Validate & Hash Password", "type": "main", "index": 0}]]
    },
    "Validate & Hash Password": {
      "main": [[{"node": "Check Validation", "type": "main", "index": 0}]]
    },
    "Check Validation": {
      "main": [
        [{"node": "Check User Exists", "type": "main", "index": 0}],
        [{"node": "Error: Validation Failed", "type": "main", "index": 0}]
      ]
    },
    "Create User in PostgreSQL": {
      "main": [[{"node": "Success Response", "type": "main", "index": 0}]]
    },
    "Check User Exists": {
      "main": [[{"node": "User Already Exists?", "type": "main", "index": 0}]]
    },
    "User Already Exists?": {
      "main": [
        [{"node": "Error: Email Already Registered", "type": "main", "index": 0}],
        [{"node": "Create User in PostgreSQL", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-20T23:30:00.000Z",
  "versionId": "3",
  "active": true
}
